.Main {
    position: relative;
    top: 55px;
    height: 100%;
    background: #f8f9fa;
    .container {
        display: flex;
        max-width: 1066px;
        margin: 0 auto;
        padding: 30px 0;
        .contents_left {
            width: 650px;
            box-sizing: border-box;
            margin-right: 40px;
            .inner {
                position: relative;
            }
        }
        .contents_rigth {
            width: 383px;
            box-sizing: border-box;
            .feed_profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                .profile {
                    display: flex;
                    align-items: center;
                    .profile_img {
                        width: 40px;
                        margin-right: 10px;
                        border-radius: 50%; 
                    }
                    .profile_info {
                        flex: 1;
                        p {
                            line-height: 1.4;
                        }
                        .profile_id {
                            font-size: 15px;
                            font-weight: bold;
                        }
                        .profile_intro {
                            width: 150px;
                            overflow:hidden;
                            text-overflow:ellipsis;
                            white-space:nowrap;
                            font-size: 12px;
                            color: #8b8b8b;
                        }
                    }
                }
            }
            .feed_profile.aside_profile {
                padding: 10px 0;
                .profile_img {
                    width: 50px;
                }
            }
            .follow_info.follow_story {
                padding-right: 0;
                .profile.follow_list {
                    display: block;
                    width: 100%;
                    max-height: 175px;
                }
            }
          
            .profile.follow_list {
                display: block;
                width: 100%;
                max-height: 175px;
            }
            

        }
    }
}
